{% include "chead.html" %}
<div class="text-center mb-10 mt-10">
    <h1>Welcome Customer</h1>
</div>
<div>
    <table class="m-auto">
        <tr>
            <th>Customer_id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Gender</th>
            <th>Location</th>
            <th>Address</th>
        </tr>
            <tr class="f-110">
                <td>{{customer[0]}}</td>
                <td>{{customer[1]}}</td>
                <td>{{customer[2]}}</td>
                <td>{{customer[4]}}</td>
                <td>{{customer[5]}}</td>
                <td>{{customer[6]}}</td>
                <td>{{customer[7]}}</td>
            </tr>
    </table>
</div>

