{% include "head.html" %}
<link rel="stylesheet" href="../static/css/style.css">
<div class="flex-container">
    <div class="part1"></div>
    <div class="part2 card mt-10">
        <form action="customer_email_verification1">
            <div>
                <h6><label for="email">Enter Email</label></h6>
                <input type="text" id="email" name="email" required class="form-control">
            </div>
             <div class="mt-2">
                <input type="submit" id="Verify" value="Verify" class="form-control btn btn-info">
            </div>
        </form>
    </div>
</div>
